<div [ngClass]="classCss" role="alert" *ngIf="message">
    <strong>{{ message.text }}</strong>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Carros</h3>
              </div>
              <div class="box-body">
                  <table class="table table-bordered">
                    <tr>
                      <th>Ano</th>
                      <th>Placa</th>
                      <th>Modelo</th>
                      <th>Cor</th>
                      <th style="width: 10px">&nbsp;</th>
                      <th style="width: 10px">&nbsp;</th>
                    </tr>
                    <tr *ngFor="let c of listCarro">
                      <td>{{c.year}}</td>
                      <td>{{c.licensePlate}}</td>
                      <td>{{c.model}}</td>
                      <td>{{c.color}}</td>
                      <td><button class="btn btn-primary" (click)="edit(c.id)" >Editar</button></td>
                      <td><button class="btn btn-danger" (click)="delete(c.id)">Excluir</button></td>
                    </tr>
                  </table>
                </div>
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                      <li><a href="" >&laquo;</a></li>
                      <li><a href="" >&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
